<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>
    <div class="postText">
        <p>{{post_text}}</p>
    </div>
</article>