<section>

    <form class="new-post-form">
        <div class="title">Create New Post</div>
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" autofocus />
        </div>
        <div>
            <label for="post-text">Content</label>
            <textarea id="post-text" name="post-text" cols="100" rows="5"></textarea>
        </div>
        <button type="submit" class="btn-post">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            <article class="post">
                <div class="title">
                    <a href="/dashboard/edit/{{post.id}}">{{title}}</a>
                    <span>Posted by {{user.username}} on {{format_date created_at}}</span>
                </div>
                <div class="postText">
                    <p>{{post_text}}</p>
                </div>
            </article>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>